
<div class="row">
    <div class="col-sm-3" style="margin-right: 25%; margin-left: 2%;">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title">Component One</h5>
            <p class="card-text">Some quick example component created using cli</p> 
        </div>
      </div>
    </div>
    <div class="col-sm-3" style="margin-left: 2%;">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title">Component One</h5>
            <p class="card-text">Some quick example component created using cli</p> 
        </div>
      </div>
    </div>
  </div>